*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d6dee7;
  font-family: "Roboto", sans-serif;
}

ul,
li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 100px;
}

.todo-section-wrapper {
  width: 450px;
  height: auto;
  background-color: white;
  border-radius: 12px;
}

.todo-header {
  width: 100%;
  height: auto;
  color: white;
  background: linear-gradient(
    50deg,
    rgba(113, 72, 252, 1) 0%,
    rgba(214, 72, 252, 1) 100%
  );
  text-align: center;
  padding: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.input-item-wrapper {
  width: 95%;
  margin: 10px auto;
  background-color: #ac87ff;
  padding: 8px;
  border-radius: 8px;
}

#task-input {
  font-family: "Roboto", sans-serif;
  width: 75%;
  height: 30px;
  padding: 10px;
  margin-right: 20px;
  outline: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #555;
  color: white;
  font-size: 16px;
  transition: 0.8s;
}

#task-input:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
}

#task-input::placeholder {
  font-family: "Roboto", sans-serif;
  color: rgba(73, 73, 73, 0.719);
  transition: 0.8s;
}

#task-input:focus::placeholder {
  color: rgba(255, 255, 255, 0.719);
}

#task-submit {
  height: 30px;
  width: 70px;
  background-color: #555;
  color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5),
    inset -5px -5px 5px rgba(29, 29, 29, 0.7),
    inset 1px 1px 10px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.8s;
}

#task-submit:hover {
  color: black;
  background-color: rgb(219, 219, 219);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -5px -5px 5px rgba(211, 211, 211, 0.7),
    inset 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.todo-list-wrapper {
  width: 95%;
  margin: 10px auto;
}

.todo-list,
.done-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item {
  padding: 5px;
  background-color: transparent;
  border: 3px solid #ac87ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.task-title {
  margin-right: auto;
  text-align: justify;
  padding-right: 10px;
}

.todo-icon-wrapper {
  display: flex;
  flex-direction: row;
}

.edit-task,
.mark-as-done,
.delete-task,
.undo-task {
  padding: 13px 5px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.edit-task {
  color: black;
  position: relative;
}

.edit-legend,
.done-task-legend,
.delete-legend,
.undo-task-legend {
  position: absolute;
  text-align: center;
  font-size: 10px;
  top: -9%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(43, 43, 43);
  color: white;
  padding: 4px;
  border-radius: 12px;
}
.done-task-legend {
  text-wrap: nowrap;
}

.mark-as-done {
  color: #00e654;
  position: relative;
}

.delete-task {
  color: #ff0942;
  position: relative;
}

.undo-task {
  color: #ff4820;
  position: relative;
}

.edit-task:hover,
.mark-as-done:hover,
.delete-task:hover,
.undo-task:hover {
  color: #ac87ff;
}

.done-tasks-section-wrapper {
  width: 450px;
  height: auto;
  background-color: white;
  border-radius: 12px;
}

.done-tasks-header {
  width: 100%;
  height: auto;
  color: white;
  background: linear-gradient(
    50deg,
    rgba(21, 209, 85, 1) 0%,
    rgba(21, 199, 174, 1) 72%,
    rgba(122, 209, 21, 1) 100%
  );
  text-align: center;
  padding: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.done-item {
  padding: 5px;
  background-color: transparent;
  border: 3px solid #00e654;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .container {
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }
}
