*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.4) 50%
    ),
    url(./../images/background.jpg) no-repeat center center / cover;
}

ul,
li {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  gap: 20px;
}

.app-header {
  color: azure;
  font-family: "Black Ops One", sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: rgb(95, 54, 231);
  }
  50% {
    color: rgba(21, 209, 85, 1);
  }
  100% {
    color: rgb(95, 54, 231);
  }
}

.input-item-wrapper {
  width: 40%;
  background-color: #ac87ff;
  padding: 16px 12px;
  border-radius: 8px;
  backdrop-filter: blur(2px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
}

#task-input {
  font-family: "Roboto", sans-serif;
  width: 70%;
  height: 30px;
  padding: 10px;
  outline: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  font-size: 16px;
  transition: 0.8s;
}

#task-input:focus {
  border-bottom: 1px solid rgb(255, 255, 255);
}

#task-input::placeholder {
  font-family: "Roboto", sans-serif;
  color: rgba(0, 0, 0, 1);
  transition: 0.8s;
}

#task-input:focus::placeholder {
  color: rgb(255, 255, 255);
}

#task-submit,
#task-edit,
#task-edit-cancel {
  height: 30px;
  background-color: #555;
  color: white;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5),
    inset -5px -5px 5px rgba(29, 29, 29, 0.7),
    inset 1px 1px 10px rgba(255, 255, 255, 0.3);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: 0.8s;
}

#task-submit {
  width: 70px;
  margin-left: 40px;
}

#task-edit,
#task-edit-cancel {
  width: 60px;
  display: none;
}

#task-edit {
  margin-right: 5px;
  margin-left: 20px;
}

#task-submit:hover,
#task-edit:hover,
#task-edit-cancel:hover {
  color: black;
  background-color: rgb(219, 219, 219);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3),
    inset -5px -5px 5px rgba(211, 211, 211, 0.7),
    inset 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.tasks-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
}

.todo-section-wrapper {
  width: 450px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  border: 3px solid rgba(113, 72, 252, 1);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
}

.todo-header {
  width: 100%;
  height: auto;
  color: white;
  background: linear-gradient(
    50deg,
    rgba(113, 72, 252, 1) 0%,
    rgba(214, 72, 252, 1) 32%,
    rgb(95, 54, 231) 132%
  );
  text-align: center;
  padding: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.todo-list-wrapper {
  width: 95%;
  max-height: 360px;
  overflow: auto;
  margin: 10px auto;
}

.todo-list,
.done-list {
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  gap: 10px;
}

.todo-item {
  padding: 5px;
  background-color: transparent;
  border: 3px solid #ac87ff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.task-title {
  margin-right: auto;
  text-align: center;
  word-wrap: break-word;
  font-size: 19px;
  color: white;
}

.todo-item > .task-title {
  width: 295px;
}

.done-item > .task-title {
  width: 330px;
}

.todo-icon-wrapper {
  display: flex;
  flex-direction: row;
}

.edit-task,
.mark-as-done,
.delete-task,
.mark-as-undone {
  padding: 13px 5px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.5s;
}

.edit-task {
  color: #cfcfcf;
}

.mark-as-done {
  color: #00e654;
}

.delete-task {
  color: #ff0942;
}

.mark-as-undone {
  color: #ffc71d;
}

.edit-task:hover,
.mark-as-done:hover,
.todo-list .delete-task:hover {
  color: #ac87ff;
}

.done-list .delete-task:hover,
.mark-as-undone:hover {
  color: #00e654;
}

.done-tasks-section-wrapper {
  width: 450px;
  height: auto;
  background-color: white;
  border-radius: 15px;
  border: 3px solid rgba(21, 209, 85, 1);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
}

.done-list-wrapper {
  width: 95%;
  max-height: 360px;
  overflow: auto;
  margin: 10px auto;
}

.done-tasks-header {
  width: 100%;
  height: auto;
  color: white;
  background: linear-gradient(
    50deg,
    rgba(21, 209, 85, 1) 0%,
    rgba(21, 199, 174, 1) 72%,
    rgba(122, 209, 21, 1) 100%
  );
  text-align: center;
  padding: 15px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.done-item {
  padding: 5px;
  background-color: transparent;
  border: 3px solid #00e654;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  width: 75px;
  height: 75px;
  border: 10px solid rgba(221, 53, 87, 0.3);
  border-top-color: var(--primary-color);
  margin: 50px auto;
  border-radius: 50%;
  animation: 1s loader infinite linear;
  display: block;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

::-webkit-scrollbar-thumb {
  background: #240c04;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

@media (max-width: 500px) {
  body {
    min-height: auto;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 35px;
  }

  .input-item-wrapper {
    width: 90%;
  }

  #task-input {
    width: 63%;
  }

  .tasks-container {
    flex-direction: column;
    gap: 25px;
  }
}

.done-tasks-section-wrapper {
  margin-bottom: 10px;
}
