/* css reset */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-font: "Roboto", sans-serif;
  --header-font: "Black Ops One", sans-serif;
  --primary-border-radius: 15px;
  --secondary-border-radius: 11px;
  --buttons-border-radius: 8px;
  --todo-primary-color: #5f36e7;
  --todo-secondary-color: #ac87ff;
  --todo-tertiary-color: #d648fc;
  --done-primary-color: #00e654;
  --done-secondary-color: #36d370;
  --done-tertiary-color: #17c7ae;
  --modal-primary-color: #133d5f;
  --modal-secondary-color: #0d101a;
  --light-color: #fff;
  --lightest-color: #fff;
  --darkest-color: #000;
}

/* ::selection {
  color: var(--lightest-color);
  background-color: (var(--darkest-color));
} */

body {
  font-family: var(--primary-font);
  color: var(--lightest-color);
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0%,
      rgba(0, 0, 0, 0.6) 50%
    ),
    url(./../images/background.jpg) fixed no-repeat center center / cover;
}

ul,
li {
  list-style: none;
}

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

/* to-do app */
.container {
  min-height: 100vh;
  justify-content: flex-start;
  padding-top: 10px;
  gap: 20px;
}

.app-header {
  font-family: var(--header-font);
  text-transform: uppercase;
  font-size: 45px;
  animation: color-change 5s infinite;
}

@keyframes color-change {
  0% {
    color: var(--todo-primary-color);
  }
  50% {
    color: var(--done-primary-color);
  }
  100% {
    color: var(--todo-primary-color);
  }
}

.input-item-wrapper {
  width: 40%;
  padding: 16px 12px;
  border-radius: var(--primary-border-radius);
  backdrop-filter: blur(2px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.3)
  );
}

#task-input,
#edit-task-input {
  font-family: var(--primary-font);
  width: 80%;
  height: 30px;
  padding: 10px;
  outline: 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--darkest-color);
  font-size: 16px;
  transition: 0.8s;
}

#task-input:focus {
  border-bottom: 1px solid var(--lightest-color);
  color: var(--lightest-color);
}

#task-input::placeholder {
  font-family: var(--primary-font);
  color: var(--darkest-color);
  transition: 0.8s;
}

#task-input:focus::placeholder {
  color: var(--lightest-color);
}

#task-submit,
#task-edit,
#task-edit-cancel,
.submit-edit-button,
.cancel-edit-button,
.delete-button,
.cancel-delete-button,
.delete-all-tasks {
  height: 30px;
  background-color: #e6e6e6;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6),
    inset -4px -4px 5px rgba(0, 0, 0, 0.4),
    inset 2px 2px 10px rgba(0, 0, 0, 0.6);
  border-radius: var(--buttons-border-radius);
  border: none;
  cursor: pointer;
  transition: 0.4s;
}

#task-submit {
  width: 80px;
  margin-left: 15px;
  transition-property: color, background-color, box-shadow;
}

#task-submit:hover,
#task-edit:hover,
#task-edit-cancel:hover,
.submit-edit-button:hover,
.cancel-edit-button:hover,
.delete-button:hover,
.cancel-delete-button:hover,
.delete-all-tasks:hover {
  background-color: rgb(125, 125, 125);
  color: var(--lightest-color);
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2),
    inset -5px -5px 5px rgba(43, 43, 43, 0.5),
    inset 2px 2px 10px rgba(0, 0, 0, 0.5);
}

#task-submit:active,
#task-edit:active,
.submit-edit-button:active,
.cancel-edit-button:active,
.delete-button:active,
.cancel-delete-button:active,
.delete-all-tasks:active {
  background-color: rgb(53, 53, 53);
}

.tasks-container {
  align-items: flex-start;
  gap: 100px;
}

.todo-section-wrapper,
.done-tasks-section-wrapper {
  width: 450px;
  height: auto;
  border-radius: var(--primary-border-radius);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(97, 97, 97, 0.4)
  );
}

.todo-section-wrapper {
  border: 3px solid var(--todo-primary-color);
}

.done-tasks-section-wrapper {
  border: 3px solid var(--done-primary-color);
}

.todo-header-wrapper,
.done-header-wrapper {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 15px;
  border-top-left-radius: var(--secondary-border-radius);
  border-top-right-radius: var(--secondary-border-radius);
}

.todo-header-wrapper {
  background: linear-gradient(
    50deg,
    var(--todo-primary-color) 0%,
    var(--todo-tertiary-color) 32%,
    var(--todo-primary-color) 132%
  );
}
.done-header-wrapper {
  background: linear-gradient(
    50deg,
    var(--done-primary-color) 0%,
    var(--done-tertiary-color) 72%,
    var(--done-primary-color) 100%
  );
}

.header-title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.delete-all-tasks {
  position: absolute;
  right: 10px;
  padding: 0px 10px;
  display: none;
}

.todo-list-wrapper,
.done-list-wrapper {
  width: 95%;
  max-height: calc(100vh - 270px);
  overflow: auto;
  margin: 10px auto;
}

.todo-list,
.done-list {
  margin-right: 5px;
  gap: 10px;
}

.todo-item,
.done-item {
  padding: 5px;
  background-color: transparent;
  border-radius: var(--primary-border-radius);
}

.todo-item {
  border: 3px solid var(--todo-secondary-color);
}

.done-item {
  border: 3px solid var(--done-secondary-color);
}

.task-title {
  margin-right: auto;
  text-align: center;
  word-wrap: break-word;
  font-size: 19px;
}

.todo-item > .task-title {
  width: 287px;
}

.done-item > .task-title {
  width: 320px;
}

.edit-task,
.mark-as-done,
.delete-task,
.mark-as-undone {
  padding: 12px 5px;
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
}

.edit-task {
  color: #52b1ff;
}

.mark-as-done {
  color: var(--done-secondary-color);
}

.delete-task {
  color: #ff003c;
}

.mark-as-undone {
  color: var(--todo-secondary-color);
}

.no-task {
  display: block;
  font-weight: 200;
  text-align: center;
  padding: 22px 0;
}

/* Edit and Delete modals */
.edit-modal,
.delete-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  background-color: #63636393;
}

.edit-task-wrapper,
.delete-task-wrapper {
  width: 450px;
  height: 200px;
  gap: 22px;
  border-radius: var(--primary-border-radius);
  border: 3px solid var(--modal-primary-color);
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.1)
  );
}

.edit-modal-header,
.delete-modal-header {
  width: 100%;
  height: auto;
  background: linear-gradient(
    50deg,
    var(--modal-primary-color) 0%,
    var(--modal-secondary-color) 32%,
    var(--modal-primary-color) 132%
  );
  text-align: center;
  padding: 15px;
  border-top-left-radius: var(--secondary-border-radius);
  border-top-right-radius: var(--secondary-border-radius);
}

#edit-task-input {
  width: 90%;
}

#edit-task-input:focus {
  color: var(--lightest-color);
  border-bottom: 1px solid var(--lightest-color);
}

#edit-task-input::placeholder {
  font-family: var(--primary-font);
  color: var(--darkest-color);
  transition: 0.8s;
}

#edit-task-input:focus::placeholder {
  color: var(--lightest-color);
}

.edit-button-wrapper,
.delete-button-wrapper {
  width: 100%;
  gap: 20px;
}

.submit-edit-button,
.cancel-edit-button,
.delete-button,
.cancel-delete-button {
  width: 30%;
  font-size: 16px;
}

.delete-modal-message {
  font-size: 20px;
}

/* Alert modal */
.alert-modal {
  position: fixed;
  width: 450px;
  height: 50px;
  border-radius: var(--primary-border-radius);
  gap: 10px;
  word-spacing: 3px;
  font-size: 20px;
  backdrop-filter: blur(30px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 0, 0, 0.6),
    rgba(255, 0, 0, 0.2)
  );
  margin-top: 70px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.bxs-error {
  color: #f6db04;
  font-size: 22px;
}

/* Scroll bar style */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  border-top-right-radius: var(--secondary-border-radius);
  border-bottom-right-radius: var(--secondary-border-radius);
}

::-webkit-scrollbar-track {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.1)
  );
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--darkest-color);
}

/* Responsive design */
@media (max-width: 500px) {
  .container {
    gap: 22px;
  }

  .app-header {
    font-size: 35px;
  }

  .input-item-wrapper {
    width: 92%;
  }

  #task-submit {
    width: 70px;
    margin-left: 8px;
  }

  .tasks-container {
    flex-direction: column;
    gap: 22px;
  }

  .done-tasks-section-wrapper {
    margin-bottom: 10px;
  }

  .todo-list-wrapper,
  .done-list-wrapper {
    max-height: 360px;
  }
}
